body {
	background-color: #A7C9C9;
	font-size: 16px;
	font-family: 'Sanchez', serif;
}
#header-nav {
	background-color: #d6e6e6;
	border-radius: 0;
	border: 3px solid #78acac;
}	
.navbar-brand{
	font-weight: bold;	 	
	font-size: 2em;
	vertical-align: middle;
}
.navbar-nav{
	margin: 0 -15px;
}
.nav{
	background-color: #d6e6e6;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: black;
	text-align: center;
	vertical-align: middle;
}
#nav-list li a {
	border-top: 3px solid black;
}


#collapsable-nav {
	border-top: 0px;
}


.page-header {
	border: 0;
	margin: 0;
}
.item {
	background-color: white;
	padding: 5px;
}

.relative{
	position: relative;
}
.row {
	width: 100%;
}
#chicken {
	font-size: 1.15em;
}
#beef {
	font-size: 1.15em;
}
#sushi {
		font-size: 1.15em;
	}
